
body{background: rgb(135,133,170);
background: linear-gradient(90deg, rgba(135,133,170,1) 34%, rgba(181,71,71,1) 60%, rgba(0,212,255,1) 100%);}
h1{
    color: rgb(0, 0, 0);
h1{40px}
}
table{
    /* border-collapse: collapse; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Roboto:wght@400;700&display=swap');
font-family: 
}
th, td {
    border: rgb(4, 0, 255) 5px inset ;
}
td{
    background-color: rgba(245, 101, 6, 0.822);
    font-size:40px ;

}
th{
    background-color:rgba(240, 0, 0, 0.589) ;
    font-size: 50px;
}

h1:hover{
    color: rgba(0, 0, 0, 0.514);
}
tr:hover{color: rgb(255, 255, 255);

}